{% extends "core/base.html" %}

{%block title%} Hiditra mpikambana{%endblock%}

{%block content%}
<div class="w-1/2 my-6 mx-auto p-6 rounded-xl text-white" style="background-color: #222831">
    <h1 class="mb-6 text-3xl text-white">Hikônekita</h1>
    <form method="post" action=".">
        {% csrf_token %}
        <div class="mb-3">
            <label class="inline-block mb-2 text-white">Anarana</label><br>
            {{form.username}}
        </div>
        <br>
        <div class="mb-3">
            <label class="inline-block mb-2 text-white">Teny miafina</label><br>
            {{form.password}}
        </div>
        <br>
        {% if form.errors or form.non_fiedl_errors %}
            <div class="mb-3 p-6 bg-red-900 rounded-xl text-white">
                {% for field in form%}
                {{field.errors}}
                 {% endfor %}
                 {{form.non_field_errors}}
            </div>
        {% endif%}
        <button 
        class="py-4 px-8 text-lg rounded-xl text-white" 
        style="background-color: #2A9EC1; transition: background-color 0.3s;" 
        onmouseover="this.style.backgroundColor='#1A6F97'" 
        onmouseout="this.style.backgroundColor='#2A9EC1'">
        Hikônekita
    </button>
    
    
    </form>
</div>
{%endblock%}